html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: sans-serif;
	background-color: var(--background-body);
}

:root {
	--blue: rgb(94, 94, 185);
	--darkGrey: rgb(43, 39, 39);
	--background-body: rgb(247, 240, 240);
	--white-text: rgb(248, 238, 238);
	/* font-size scale */
	--base-size: 1em;
	--type-scale: 1.2;
	--h3: calc(var(--base-size) * var(--type-scale));
	--h2: calc(var(--h3) * var(--type-scale));
	--h1: calc(var(--h2) * var(--type-scale));
}
/* font scale factor */
h1,
h2,
h3 {
	font-family: serif;
}
h1 {
	font-size: var(--h1);
	text-align: center;
}
h2 {
	/* font-size: calc(1em * 1.2 * 1.2 * 1.2 * 1.2); */
	font-size: var(--h2);
	display: block;
	margin: 30px auto 15px auto;
	text-align: center;
}
h3 {
	font-size: var(--h3);
	/* font-size: calc(1em * 1.2 * 1.2 * 1.2); */
}
p {
	font-size: var(--base-size);
	/* font-size: 1em; */
	padding: 20px;
}
li {
	padding: 10px;
}
button {
	padding: 7px;
}
small,
.text-small {
	font-size: calc(1em / 1.2);
}
header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5em;
	margin: 0;
	padding: 0;
	background-color: var(--darkGrey);
	color: var(--white-text);
}
header h1 a {
	color: var(--white-text);
	text-decoration: none;
}
#main-nav a,
#page-nav ul a {
	color: var(--darkGrey);
	text-decoration: none;
	list-style-type: square;
	padding: 10px;
	cursor: pointer;
	transition: 0.5s;
}

#main-nav ul li a:hover,
#page-nav ul a:hover {
	background-color: var(--darkGrey);
	color: var(--white-text);
	border-radius: 10px;
	transform: scale(3);
}
#page-nav,
#main-nav {
	margin: 10px auto 15px 100px;
}
#page-nav ul li {
	list-style: square;
}
.mainContent h2 {
	text-align: center;
}
.page-container {
	position: relative;
	min-height: 100vh;
}
.content-wrapper {
	padding-bottom: 2.5rem; /* Footer height */
}

.notes {
	padding: 20px;
	margin: 15px auto 15px 100px;
}
.notes h2 {
	display: block;
	margin-top: 30px;
	margin: auto;
	text-align: center;
}
em {
	font-weight: 700;
	color: red;
}
.topics {
	margin-bottom: 15px;
}
.topics ul li {
	margin-left: 100px;
}

article h3 {
	text-align: center;
	font-size: 28px;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem; /* Footer height */
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--darkGrey);
	color: var(--white-text);
}

a[href*='http'] {
	color: blue;
	text-decoration: underline;
}
a[href*='http']::after {
	content: '';
	background: url(/images/externalLink.svg);
	margin-right: 34px;
	background-repeat: no-repeat;
	padding-right: 14px;
}
@media (min-width: 600px) {
	:root {
		--type-scale: 1.33;
	}
}
