html {
	font-size: 10px;
	/* Image by Free-Photos from Pixabay  */
	background: url('../../ExtraLearning/piano/guitar-1245856_1920.jpg') bottom center;
	background-size: cover;
}
body,
html {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
h1 {
	margin-top: 200px;
	margin-right: 30px;
	color: white;
	text-align: right;
}
button {
	margin-top: 15px;
	margin-left: 15px;
	padding: 10px;
	border-radius: 5%;
	background-color: white;
	color: black;
}
button a {
	text-decoration: none;
	font-weight: 700;
}
.keys {
	display: flex;
	flex: 1;
	margin-top: -140px;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}
.key {
	border: 0.4rem solid black;
	border-radius: 0.5rem;
	margin: 1rem;
	font-size: 1.5rem;
	padding: 1rem 0.5rem;
	transition: all 0.07s ease;
	width: 10rem;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.4);
	text-shadow: 0 0 0.5rem black;
}
.playing {
	transform: scale(1.1);
	border-color: #ffc600;
	box-shadow: 0 0 1rem #ffc600;
}

kbd {
	display: block;
	font-size: 4rem;
}
.sound {
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	color: #ffc600;
}

.home {
	text-decoration: none;
	color: white;
	background-color: green;
	padding: 10px;
}
