@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');

/*  minimal reset */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
/* style return button top left of screen */
header .button {
	background-color: black;
	margin-top: 15px;
	margin-left: 25px;
	padding: 10px;
	width: 120px;
	cursor: pointer;
	transition: 0.4s;
}
header .button:hover {
	transform: scale(1.01);
	background-color: black;
	box-shadow: 0 5px 7px 5px rgba(0, 0, 0, 0.5);
}
.button a {
	margin-left: 10px;
	text-decoration: none;
	color: white;
	font-size: 16px;
}

h1 {
	text-align: center;
	font-family: 'Stint Ultra Condensed', cursive;
	font-weight: 800;
	font-style: italic;
	margin-bottom: 20px;
	font-size: 60px;
	opacity: 0.5;
}
main {
	margin: auto;
	padding: 10px;
	max-width: 650px;
	background: rgba(255, 255, 255, 0.95);
	box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}
/* To Do List Style when items listed */
ul li {
	list-style: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 10px 0;
	font-weight: 100;
	display: flex;
}

input[type='text'] {
	width: 100%;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-right: 10px;
	font-size: 16px;
}

input[type='checkbox'] {
	display: none;
}
.todo-list {
	list-style: none;
	margin-bottom: 20px;
}

.toDo_content {
	margin-bottom: 10px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 22px;
}

.completed span {
	text-decoration: line-through;
}
/* custom checkbox for to do list */
.checkmark {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	border: 2px solid #333;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.checkmark::before {
	content: '✓';
	font-size: 20px;
	display: none;
}

.completed .checkmark::before {
	display: inline;
}
/* custom delete button */
.delete-todo {
	font-size: 36px;
	border: none;
	background-color: white;
	color: black;
	outline: none;
	cursor: pointer;
}

.delete-todo:hover {
	color: red;
}

/* totals section hide when no taks */
.hide {
	display: none;
}
.category > p {
	width: 120px;
	background-color: rgb(46, 43, 43);
	opacity: 0.5;
	color: white;
	padding: 7px;
	border: 1px solid black;
	text-align: center;
	cursor: pointer;
}
.category > p:hover {
	opacity: 1;
}
.total_activities {
	margin-top: 25px;
	text-transform: uppercase;
}
.totals {
	margin: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 7px;
}
.section-add {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 2fr 100px;
	grid-gap: 5px;
}
input[type='submit'] {
	background-color: black;
	opacity: 0.5;
	color: white;
	padding: 5px;
	height: 30px;
	align-self: center;
}
input[type='submit']:hover {
	opacity: 1;
}
.selected_category p {
	background-color: white;
	color: var(--dark-text);
	cursor: default;
}
@media only screen and (min-width: 600px) {
	.totals {
		grid-template-columns: repeat(4, 1fr);
	}
}
